
    /* ### Primary

    - Light red (CTA text): hsl(356, 100%, 66%);
    - Very light red (CTA hover background): hsl(355, 100%, 74%);
    - Very dark blue (headings): hsl(208, 49%, 24%);
    
    ### Neutral
    
    - White (text): hsl(0, 0%, 100%);
    - Grayish blue (footer text): hsl(240, 2%, 79%);
    - Very dark grayish blue (body copy): hsl(207, 13%, 34%);
    - Very dark black blue (footer background): hsl(240, 10%, 16%);
    
    ### Gradient
    
    Background gradient - Intro/CTA mobile nav:
    
    - Very light red: hsl(13, 100%, 72%);
    - Light red: hsl(353, 100%, 62%);
    
    Background gradient - body:
    
    - Very dark gray blue: hsl(237, 17%, 21%);
    - Very dark desaturated blue: hsl(237, 23%, 32%); */

.conteudo{

--text-titulos-color:hsl(237, 17%, 21%);
--text-texto-color: hsl(237, 23%, 32%);

--bg-body-color:hsl(237, 23%, 32%);

}

.conteudo{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: var(--text-titulos-color);
    border: 1px solid red;
}


.titulo{
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid red;
    padding: 0.8rem 2.5rem;
}

.editor, .phones{
    width: 100%;
    object-fit: cover;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.texto, .texto-foco{
    padding: 1rem 1.5rem;
    color:var(--text-texto-color);
    line-height: 1.5; 
   
}
.titulo-foco{
    font-size: 2rem;
    font-weight: 500;
    border: 1px solid red;
    padding: 0.5rem 2.5rem;  
    color: white;
    line-height: 1.5;
    
}

.parte2{
position: relative;
}


.phones{
    position: absolute;
    z-index: 10;
    top: -32%;
    left: 0;
    
}


.foco{
    background-image: url(../../assets/img/bg-pattern-circles.svg),linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-size: 580px 580px, auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -300%;
    
    padding-top: 15rem;
    padding-bottom: 6rem;
    position: relative;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    margin-top: 15rem;
}



.texto-foco{
    color:white;
}

.laptop{
    width: 100%;
    transform: scale(1.3);
    margin-top: 2rem;
    margin-bottom: 4.5rem;
    
}